*.apk
*.ap_
*.dex
bin/
gen/
.gradle
/local.properties
*.iml
.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.navigation
captures/
output.json
